/** Icons **/
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon/icomoon.eot?fckcu8');
    src: url('../fonts/icomoon/icomoon.eot?fckcu8#iefix') format('embedded-opentype'), url('../fonts/icomoon/icomoon.ttf?fckcu8') format('truetype'), url('../fonts/icomoon/icomoon.woff?fckcu8') format('woff'), url('../fonts/icomoon/icomoon.svg?fckcu8#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.h2 {
    color: #582e8e;
}

.h2 .number {
    color: #4ec2d4;
    font-weight: 600;
    display: inline-block;
}

.h1 {
    color: #582e8e;
    font-weight: bold;
    font-size: 2rem;
}

.h1 i {
    font-size: 80%;
}

.h1 .number {
    color: #4ec2d4;
    font-weight: 600;
    display: inline-block;
}

/* padding */
.p-6 {
    padding: 6rem !important;
}

.p-7 {
    padding: 7rem !important;
}

.p-8 {
    padding: 8rem !important;
}

.p-9 {
    padding: 9rem !important;
}

.p-10 {
    padding: 10rem !important;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

/* texts */
.text-violet {
    color: #582e8e;
}

/* sizes */
.text-violet {
    color: #582e8e;
}

.rounded {
    border-radius: 5px !important;
}
.bg-none{
    background:none !important;
}
.form-control {
    border-radius: 3px;
    background: #f6f6f8;
    font-size: 1.4rem;
    height: 4rem;
    padding: 0 2rem;
    outline: none !important;
    box-shadow: none !important;
    border-width: 2px;
}

.form-control:focus {
    border-color: #4ac3d4 !important;
}

.underline {
    position: relative;
    display: inline-block;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    bottom: -.2rem;
    left: 0;
    background-color: #582e8e;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.underline:hover:before, .underline:focus:before, .underline.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

:root {
    font-size: 10px;
}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #000;
    overflow: hidden;
    height: 100vh;
}

.text-warning {
    color: #f06a76 !important;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
}

.home-sect {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.tooltip {
    font-size: 1.2rem;
}

/** Wrap Video Dropodown ***/
.wrap-video-dropdown {
    position: relative;
}

.wrap-video-dropdown .video {
    background: #d8d2e0;
    max-height: 0rem;
    overflow: hidden;
}

.wrap-video-dropdown.active .video {
    max-height: 20rem;
}

.wrap-video-dropdown .video .embed-responsive {
    padding: 2rem;
}

.wrap-video-dropdown .btn-video i {
    position: absolute;
    right: 1rem;
    top: 28%;
}

.wrap-video-dropdown.active .btn-video i {
    transform: rotate(-90deg);
}

.wrap-video-dropdown .btn-video {
    display: block;
    padding: .48rem 1rem;
    background: #d8d2e0;
    text-align: center;
    font-weight: bold;
    text-decoration: none !important;
    color: #000;
    position: relative;
}

.wrap-video-dropdown .btn-video:hover {
    background: #f2eff6;
    color: #582e8e;
}

/** Btns **/
.btn-fill {
    padding: 1rem 1.5rem;
    color: #000 !important;
    background: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    background: #c8c8c8;
    line-height: 1;
}

.btn-fill i {
    margin-right: 1rem;
    font-size: 120%;
}

.btn-fill:hover {
    opacity: .9;
}

.btn-fill.red {
    background: #ff4350;
    opacity: .5;
    color: #fff !important;
    font-weight: bold;
}

.btn-fill.red:hover {
    opacity: 1;
}

.btn-fill.violet {
    background: #582e8e;
    opacity: .5;
    color: #fff !important;
    font-weight: bold;
}

.btn-fill.violet.full {
    opacity: 1;
}

.btn-fill.violet.full:hover {
    background: #863ee3;
}

.btn-fill.white {
    background: #ffffff !important;
    opacity: .5;
    color: #000 !important;
    font-weight: bold;
}

.btn-fill.white:hover {
    opacity: 1;
    border: 1px solid #ced4da;
}

.btn-fill.green {
    opacity: 1;
    background: #4ebd88;
    color: #fff !important;
}

.btn-fill.green:hover {
    background: #5bf1a9;
}

.btn-fill.violet:hover {
    opacity: 1;
}

.btn-fill.blue {
    background: rgba(139, 230, 244, 0.46);
    color: #582e8e !important;
    font-weight: bold;
}

.btn-fill.blue:hover {
    opacity: 1;
    background: #8be6f4;
}

.btn-fill.no-action {
    background: none;
    color: #582e8e !important;
    border: 1px solid #582e8e;
}

.btn-outline {
    padding: .7rem 1.5rem;
    color: #582e8e !important;
    -webkit-transition: all .3s ease;
    -o-transition: dall .3s ease;
    transition: all .3s ease;
    text-decoration: none !important;
    display: inline-flex;
    align-items: center;
    border: 1px solid #582e8e;
    line-height: 1;
}

.btn-outline i {
    margin-right: 1rem;
}

.btn-outline.fill:hover, .btn-outline.fill.selected {
    background: #582e8e !important;
    color: #fff !important;
}

.btn-two {
    border-radius: 1rem;
    font-weight: bold;
    padding: .2rem 1rem;
    color: #fff !important;
    background: #00799B;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none !important;
    display: inline-block;
}

.btn-two:hover {
    background: #317cad;
}

.btn-one:hover {
    opacity: .9;
}

.trans-3 {
    transition: all .3s ease;
}

.trans-5 {
    transition: all .3s ease;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* Drop Style One */
.drop-style-one {
    width: 100%;
    border: 1px solid #582e8e;
    font-size: 1.4rem;
}

.drop-style-one .dropdown-item {
    color: #582e8e;
}

.drop-style-one .dropdown-item:hover {
    background: #f2eff6;
}

/** Wrap create btn **/
.wrap-create-btn {
    position: relative;
}

.wrap-create-btn .btn-create {
    font-size: 1.5rem;
    padding: .5rem 2rem;
    background: none;
    font-weight: bold;
    color: #582e8e;
}

.wrap-create-btn * {
    outline: none;
}

.wrap-create-btn .btn-group {
    border-radius: 2rem;
    border: 1px solid #582e8e;
}

.wrap-create-btn .btn-create {
    overflow: hidden !important;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.wrap-create-btn .btn-create:hover {
    background: #582e8e;
    color: #fff !important;
}

.wrap-create-btn * {
    outline: none !important;
}

.wrap-create-btn .dropdown-toggle {
    background: none;
    color: #582e8e !important;
    border: 0;
    border-left: 1px solid #582e8e;
    padding: 0 1rem;
    font-size: 1.3rem;
    -webkit-border-top-right-radius: 2rem;
    -webkit-border-bottom-right-radius: 2rem;
    -moz-border-radius-topright: 2rem;
    -moz-border-radius-bottomright: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.wrap-create-btn .btn-group.show .dropdown-toggle, .wrap-create-btn .btn-group .dropdown-toggle:hover {
    background: rgba(88, 46, 142, 0.16);
}

.wrap-create-btn .dropdown-menu {
    font-size: 1.3rem;
    background: #f2eff6;
    border: 1px solid #582e8e;
    border-radius: 1rem;
    padding: 0;
    overflow: hidden;
    z-index: 9999;
}

.wrap-create-btn .dropdown-menu .dropdown-item {
    color: #582e8e;
    font-weight: 600;
    padding: .6rem 2rem;
    transition: all .3s ease;
}

.wrap-create-btn .dropdown-menu .dropdown-item:hover {
    background: #d9d0e5;
}

.sidebar-menu {
    background: #582e8e;
    height: 95vh;
    flex: 0 1 24rem;
}

.sidebar-menu .sidebar-wrapper {
    height: calc(100% - 11rem);
}

.sidebar-menu .sidebar-wrapper .menu-wrap {
    height: calc(100% - 7rem);
    overflow: auto;
    overflow-x: hidden;
    display: block;
}

.sidebar-menu .logo {
    text-align: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid #4a2579;
    padding: 1rem 0;
}

.sidebar-menu .logo img {
    margin: 0 auto;
}

.sidebar-menu .logo .mobile {
    display: none;
}

body.menu-collapse .sidebar-menu {
    flex: 0 1 0rem;
    z-index: 10000;
    position: relative;
}

body.menu-collapse .sidebar-menu .logo .web {
    display: none;
}

body.menu-collapse .sidebar-menu .logo .mobile {
    display: block;
}

body.menu-collapse .sidebar-menu nav ul li a span {
    display: none;
}

body.menu-collapse .sidebar-dropdown .sidebar-submenu {
    position: absolute;
    top: 0;
    background: #4b2779;
    z-index: 2;
    left: 5.6rem;
    width: 15rem;
}

body.menu-collapse .sidebar-dropdown .sidebar-submenu li a {
    padding: 1rem 2rem;
}

body.menu-collapse .sidebar-menu nav ul li a i {
    margin-right: 0;
}

.sidebar-menu nav ul li {
    position: relative;
}

.sidebar-menu nav ul li a {
    display: block;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    position: relative;
}

.sidebar-menu nav ul li a i {
    margin-right: 1rem;
    font-size: 120%;
    opacity: .5;
}

.sidebar-menu nav ul li a:hover, .sidebar-menu nav ul li a.active {
    color: #f5c280;
    background: rgba(0, 0, 0, 0.15);
}

.sidebar-menu nav ul li a.collapse-menu {
    margin-top: 3rem;
    background: #5e3790;
}

.sidebar-menu nav ul li a.collapse-menu i {
    transform: rotate(-180deg);
    display: inline-block;
}

body.menu-collapse .sidebar-menu nav ul li a.collapse-menu i {
    transform: rotate(0deg);
}

body.menu-collapse .sidebar-menu nav ul li a span {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background: #4d3071;
    width: 12rem;
    padding: 1rem;
    line-height: 1.2;
}

body.menu-collapse .sidebar-menu nav ul li a:hover span {
    display: block;
}

.header {
    background: #f2eff6;
    width: 100%;
    display: flex;
    align-items: center;
}

.header .wrap-right {
    margin-left: 3rem;
    border-left: 2px solid #582e8e;
    padding-left: 2rem;
}

.header .top-profile {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.header .top-profile .img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #616161;
    margin-right: 2rem;
    flex: 0 0 3rem;
}

.header .top-profile .name {
    font-weight: bold;
}

.header .top-profile .job {
    font-size: 1.2rem;
}

.header .top-profile .actions {
    display: flex;
    font-size: 11px;
    font-weight: 600;
}

.header .top-profile .actions .action {
    margin-right: 1rem;
    font-size: 11px;
    display: block;
    text-decoration: none;
    color: #000;
}

.header .top-profile .actions .action i {
    color: #4ac3d4;
}

.container-fluid {
    padding: 0 2rem;
}

.wrap-content {
    overflow: scroll;
    overflow-x: hidden;
}

.section-content {
    display: flex;
    flex: 0 0 calc(100% - 24rem);
    flex-direction: column;
    overflow: hidden;
    height: calc(100% - 5rem);
}

body.menu-collapse .section-content {
    flex: 0 0 calc(100% - 5.8rem);
}

.wrap-links {
    margin-left: auto;
    display: flex;
    font-weight: bold;
}

.wrap-links .wrap-link {
    margin-left: 2rem;
    display: flex;
    align-items: center;
    color: #582e8e;
    font-weight: 600;
    text-decoration: none;
}

.wrap-links .wrap-link i {
    margin-right: 1rem;
    color: #4ac3d4;
}

section {
    height: 100%;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 0;
}

.breadcrumb a {
    color: #818181;
}

.breadcrumb .breadcrumb-item.active {
    color: #582e8e;
    font-weight: bold;
}

/** Wrap go back **/
.wrap-go-back .go-back-link {
    display: inline-block;
    color: #4ac3d4;
    margin-left: 3rem;
    font-weight: 600;
}

.wrap-go-back .go-back-link i {
    margin-right: 1rem;
    font-size: 60%;
    color: #582e8e;
    font-weight: bold;
}

.sidebar-dropdown .sidebar-submenu {
    transition: all .6s ease;
    max-height: 0rem;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.08);
}

.sidebar-dropdown .sidebar-submenu li a {
    font-size: 1.2rem;
    padding-left: 5rem;
    color: rgba(255, 255, 255, 0.67);
}

.sidebar-dropdown:hover .sidebar-submenu {
    max-height: 20rem;
}

/* Dashboard */
.features-slider {
    position: relative;
    margin: 0;
    width: 100%;
    max-width: 48rem;
}

.features-slider aside {
    padding: 3rem;
    background: #f5f6f8;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}

.features-slider aside .wrap-img {
    font-size: 5rem;
    margin-right: 3rem;
    color: #4ac3d4;
}

.features-slider aside h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #582e8e;
    font-weight: bold;
}

.features-slider aside time {
    margin-top: 3rem;
    display: block;
    color: gray;
}

.dash-video h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 3rem;
    color: #582e8e;
}

.dash-video h2 strong {
    color: #4ac3d4;
    font-weight: bold;
}

/* Cards */
.card-doc-one, .card-doc-two {
    position: relative;
    padding: 5rem 2rem;
    display: block;
    color: #000;
    background: #f2eff6;
    text-align: center;
    text-decoration: none;
    border: 1px solid #dededf;
    text-decoration: none !important;
    width: 21.7rem;
    min-height: 27rem;
}

.card-doc-one .top-actions {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #918f94;
}

.card-doc-one .status {
    margin-bottom: 2rem;
    display: block;
}

.card-doc-two {
    border-color: #bebebe;
    background: #f2eff6;
    min-height: 28rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #582e8e !important;
    width: 21.7rem;
    margin: 1rem;
}

.card-doc-one:hover {
    border-color: transparent;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15) !important;
}

.card-doc-one h6 {
    font-size: 1.6rem;
}

.card-doc-one .title {
    color: #000;
    line-height: 1.4;
    font-weight: 700;
    font-size: 2rem;
}

.card-doc-one .date {
    color: #515151;
    font-size: 1.3rem;
    margin: 1rem 0;
    display: block;
}

.card-doc-one .version {
    color: #949494;
    display: inline-block;
    padding: .3rem 1.2rem;
    background: #eae7ee ;
}

.card-doc-one .version strong {
    color: #000;
}

.card-doc-one:hover .title {
    color: #4ec2d4;
}

.card-doc-one:hover .version {
    background: #dbf3f7;
}

.card-doc-two:hover {
    border-color: transparent;
    background: #fff;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.15) !important;
}

.card-doc-two .title {
    font-weight: bold;
    font-size: 2rem;
}

.card-doc-two .top-actions {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
}

.card-doc-two .top-actions .featured {
    font-size: 120%;
}

.card-doc-two .top-actions .featured:hover, .card-doc-two .top-actions .featured.active, {
    color: #f49a4c;
}

.card-doc-two .top-actions span {
    margin: 0 0 0 1.1rem;
    display: inline-block;
    cursor: pointer;
    opacity: .5;
    font-size: 1.6rem;
}

.card-doc-two .top-actions span:hover {
    opacity: 1;
}

span.delete:hover {
    color: #c03434;
}

/** Version **/
.versions .version-nav {
    font-size: 1.5rem;
}

/** Search animated **/
.search-animated {
    position: relative;
}

.search-animated.active {
}

.search-animated .search-field {
    width: 2rem;
    opacity: 0;
}

.search-animated.active .search-field {
    width: 20rem;
    opacity: 1;
}

.search-animated .search-btn {
    border: 0;
    padding: 0;
    background: none;
    position: absolute;
    cursor: pointer;
    right: 1.5rem;
    top: 1rem;
    z-index: 2;
}

.search-animated .search-btn:hover {
    color: #582e8e;
}

/** Forms **/
.form-search i {
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    color: #582e8e;
    font-size: 2rem;
}

/** Swipper**/
.swiper-button-prev, .swiper-button-next {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    background: #582e8e !important;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
    background: #8746da !important;
}

.swiper-pagination-bullet-active {
    background: #582e8e !important;
}

.swiper-pagination {
    text-align: center;
    justify-content: center;
    display: flex;
}

/** Filter 1**/
.wrap-filter .btn-filter {
    padding: .5rem 1rem;
    background: white;
    border: 1px solid #582e8e;
    text-decoration: none;
    color: #582e8e;
}

.wrap-filter .btn-filter:hover, .wrap-filter.active .btn-filter {
    border-color: transparent;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.15) !important;
}

.wrap-filter .dropdown-toggle {
    font-size: 1.5rem;
    background: #fff;
}

.wrap-filter .dropdown-item {
    font-size: 1.3rem;
    padding: .7rem 2rem;
    transition: all .3s ease;
}

.wrap-filter .dropdown-item:hover {
    background: rgb(220, 220, 220);
}

.wrap-filter .dropdown-menu {
    padding: 0;
}

/* Create Project */
.guide-content {
    height: 77vh;
    overflow: auto;
}

.wrap-tpl {
    padding: 5rem 8rem;
    background: #f6f6f8;
    height: 77vh;
    overflow: auto;
}

.wrap-tpl .title {
    text-align: center;
    margin-bottom: 3rem;
}

.wrap-tpl .title strong {
    color: #4ec7d1;
    font-weight: bold;
}

.wrap-tpl .info p {
    margin: 2rem 0;
}

.wrap-tpl .info ul {
    list-style-type: disc;
    padding-left: 2rem;
}

.guide-wrap {
    padding: 3rem;
    border: 2px solid #aa96c7;
    margin-bottom: 3rem;
}

.guide-wrap label {
    font-size: 1.7rem;
}

.guide-wrap textarea.form-control {
    padding: 1rem 2rem;
}

.guide-wrap textarea.form-control, .guide-wrap select {
    border-color: #aa96c7;
    color: #000000;
    background: none;
}

/* Category Modal */
.createCategoryModal a {
    font-size: 1.6rem;
    padding: .95rem 3rem;
}

.createCategoryModal .current-icon {
    font-family: FontAwesome !important;
}

.createCategoryModal .form-control {
    border-radius: 0;
}

.createCategoryModal .select-icon {
    width: 100%;
    text-align: center;
    display: block;
}

/** Icons Modal **/
.iconsModal .grid-icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.iconsModal .grid-icons a {
    flex: 0 0 11.1%;
    height: 6rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: gray;
    background: #f9f9f9;
    text-decoration: none;
}

.iconsModal .grid-icons a i {
    font-family: Fontawesome
}

.iconsModal .grid-icons a:hover, .iconsModal .grid-icons a.active {
    color: #582e8e;
    background: #f4eafe;
}

/** Research Modal **/
.researchModal .modal-body {
    padding: 0;
}

.researchModal .guide-wrap {
    padding: 1 2remrem;
    border: 0;
    margin: 0;
    border-radius: 0;
}

.researchModal .guide-wrap:hover {
    background: #f6f6f6;
}

/** Editor Wrap **/
.editor-wrap textarea.editor-tiny {
    width: 100%;
    height: 70vh;
}

.mce-content-body.editor-content {
    padding: 14rem !important;
}

/*Researching */
.researching {
    position: relative;
}

.researching .add-btn {
    font-size: 3rem;
    color: #4ebd88;
    cursor: pointer;
}

.researching .add-btn:hover {
    color: #582e8e;
}

/** Create a Campaings**/
.create-campaign {
    position: relative;
}

.create-campaign .row {
    display: table;
}

.create-campaign .wrap-col {
    position: relative;
    min-height: 87vh;
    display: table-cell;
    padding: 0 5rem;
}

.create-campaign .wrap-video {
    background: #f6f6f8;
}

.create-campaign .wrap-create {
    max-width: 40rem;
    width: 100%;
}

.create-campaign .wrap-create h1 {
    margin-bottom: 2rem;
}

.create-campaign .wrap-create button {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    text-align: center !important;
    display: block;
}

.create-campaign .form-control:focus {
    border-color: #582e8e;
}

/* My Campaings */
.campaings .swiper-button-next, .campaings .swiper-button-prev {
    color: red !important;
    height: 2rem;
    outline: none;
    margin-right: -4rem;
}

.campaings .swiper-button-prev {
    margin-right: 0;
    margin-left: -4rem;
}

.campaings {
    position: relative;
    margin-top: auto;
}

.campaings .campaing-list {
    background: #f6f6f8;
    position: relative;
}

.campaings .wrap-filter-sect {
    margin-left: auto;
}

.campaings .swiper-slide {
    padding: 4rem 0;
    width: 30rem;
}

/**  Section Campaings List **/
.section-campaing-list .campaing-list .col-md-4 {
    margin-bottom: 2rem;
}

.section-campaing-list .campaing-list .card-doc-one {
    width: 20rem;
    margin: 1rem;
}

.heading-second {
    padding: 1rem 0;
    background: #fff;
}

.heading-breadcrumb {
    padding: .5rem 0;
}

.heading-breadcrumb .section-top {
    display: flex;
}

.heading-second .top-links > * {
    margin-right: 1rem;
}

/** heading actions **/
.heading-actions {
    position: relative;
}

.heading-actions a {
    color: #afafaf;
    text-decoration: none !important;
}

.heading-actions a:hover {
    color: #000;
}

/** Menu List **/
.menu-list .list li {
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 1px solid #d8d8d8;
    margin: .5rem 0;
}

.menu-list .list li:hover {
    border-color: #582e8e;
    background: #f2eff6;
}

.menu-list .menu-item-actions > * {
    margin-right: 2rem;
}

.menu-list .menu-item-actions > *:last-child {
    margin-right: 0rem;
}

.menu-list .list .sub-menu {
    padding-left: 3rem;
}

/** Status **/
.status-active {
    color: #79caa2;
}

.status-blocked {
    color: #f47e87;
}

.status-inactive {
    color: #654698;
}

/** Bundles list **/
.table-filter {
    border-collapse: collapse;
}

.table-filter .wrap-tr {
    border: 2px solid #d6d6d6 !important;
    border-radius: 30px;
    transition: all .3s ease;
    cursor: pointer;
}

.table-filter .wrap-tr:hover {
    background: #f2eff6;
}

.table-filter .email a {
    color: #582e8e;
}

.table-filter .status {
    font-weight: bold;
}

.table-filter tr th {
    padding: 1rem 2rem;
    font-size: 1.4rem;
}

.bundle-list tr td {
    padding: 1rem 2rem !important;
    color: #582e8e;
}

.bundle-list .action-delete a {
    color: gray;
}

.bundle-list .action-delete a:hover {
    color: #c03434;
}

/** Circle Icon **/
i.circle-icon {
    padding: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #8851a2;
    color: #fff;
    font-size: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Data table */
div.dataTables_wrapper div.dataTables_length select {
    margin: 0 2rem;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}

.page-item.active .page-link {
    background: #582e8e;
    border-color: #582e8e;
    color: #fff !important;
}

.page-link {
    color: #582e8e !important;
    border: 0 !important;
    background: #e7e7e7;
    padding: .5rem 1.3rem;
    margin: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    border-color: transparent !important;
    background: none !important;
}

.warning-message {
    padding: 3rem 0;
}

.warning-message h2 {
    font-size: 2.5rem;
    color: #f06b74;
}

/** User Profile **/
.user-profile {
    position: relative;
    max-width: 43rem;
}

.user-profile .card-user {
    background: #f2eff6;
    padding: 1rem 2rem;
    margin-bottom: .5rem;
    font-size: 1.7rem;
    color: #000;
}

.user-profile .card-user .name {
    font-size: 2rem;
    font-weight: 600;
}

.user-profile .card-user a {
    color: #000;
}

.user-profile .card-user .image {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    background: #dedae5;
    font-size: 4rem;
    color: #ab97c6;
    background-size: cover;
    background-position: center;
}

.user-profile a.action-link {
    width: 100% !important;
    text-align: center !important;
    display: block;
    padding: 1.3rem 2rem;
    font-size: 1.8rem;
    margin: .5rem 0;
}

/** Modal Delete **/
.modal-header {
    padding: 2rem 2rem;
}

.modal-header .close {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
    outline: none;
}

.modal-header .close span {
    display: inline-block;
    position: relative;
    top: -2px;
}

.modal .modal-content {
    border-radius: 2rem;
}

.deleteModal .modal-footer {
    padding: 3rem 0;
}

.deleteModal .modal-header {
    border: 0 !important;
}

.deleteModal .title {
    font-size: 2.8rem;
    text-align: center;
    color: #582e8e;
}

.deleteModal .modal-footer {
    display: flex;
    justify-content: center;
    border: 0;
}

.deleteModal .close {
    font-size: 2rem;
    font-weight: bolder;
}

.deleteModal .btn {
    font-size: 1.5rem;
    padding: 1rem 6rem;
}

/* Bg #Violet **/
.bg-violet-light{
    background: #e1c7e0;
}
.bg-violet .modal-content {
    background: #f0edf4;
}

.modal-one .modal-content {
    padding: 2rem;
    font-size: 1.6rem;
}

.modal-one .modal-header {
    display: none;
}
/** Template Edit **/
.section-template-edit .form-group .copy{
    font-size:1.4rem;
    font-weight:600;
}
.section-template-edit .guide-wrap .form-control{
 border-color:#aa96c7;   
}

/* Footer */
footer {
    height: 5vh;
    background: #28183f;
    flex: 1 0 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 2rem;
    width: 100%;
}

footer a {
    color: rgba(255, 255, 255, 0.61) !important;
    text-decoration: none !important;
    margin-left: 2rem;
    display: inline-block;
}

footer a:hover {
    color: #fff !important;
}

footer a:hover:before {
    background: #fff;
}

/** Media Queries **/
/** For mac **/
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    :root {
        font-size:8px
    }

    .form-control {
        height: 3rem;
    }

    i.circle-icon {
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
    }

    .wrap-create-btn .btn-create {
        font-size: 1.3rem;
    }

    .header .top-profile {
        padding: .5rem 0;
    }

    .heading-second {
        padding: 1rem 0;
    }

    .bundle-list tr td {
        padding: .5rem !important;
    }
}

@media (max-width: 1199.98px) {
}

@media (max-width: 991.98px) {
    header .wrap-links {
        display:none
    }
}

@media (max-width: 767.98px) {
    :root {
        font-size: 7px;
    }

    .heading-second {
        padding-top: 0;
    }

    .heading-second .col-video {
        padding: 2rem 0;
    }
}

@media (max-width: 575.98px) {
    .card-doc-two {
        margin:2rem auto;
    }

    .features-slider .swiper-pagination {
        margin-top: 1rem !important;
        position: relative;
    }

    .features-slider aside {
        flex-wrap: wrap;
    }

    .features-slider aside .wrap-img {
        display: none;
    }

    .header .wrap-right {
        margin-left: 0;
        padding-left: 0;
        border-left: 0;
    }

    .header .top-profile {
        line-height: 1.2;
    }
}
